<div class="modal" ng-controller="loginCtrl">
    <ion-header-bar>
        <h1 class="title">Please Login</h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" ng-model="user.username" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="user.password" required>
            </label>
            <div class="warning-message" ng-show="!!message">{{message}}</div>
            <div class="padding drinkon-button-row">
                <button class="button button-balanced" ng-click="login()">Login</button>
                <button class="button button-stable" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </ion-content>
</div>