<ion-view title="{{ appHeader }}">
    <ion-header-bar class="bar bar-subheader bar-stable">
        <h4 class="drinkon-subtitle">Hello</h4>
    </ion-header-bar>
    <ion-content class="padding has-header">
        <p class="content">Welcome to <span class='content-text-pre'>pre</span><span class='content-text-order'>order</span>.  As you're not logged in I'm afraid we can't tell who you are.</p>
        <p class="content">Don't worry though, just tell us how you'd like to proceed.</p>
        <div class="drinkon-button-row">
            <ul class="vertical-button-list">
                <li>
                    <button class="button button-calm icon-left ion-person" ng-click="login()">
                        Login
                    </button>
                </li>
                <li>
                    <button class="button button-calm icon-left ion-person-add" ng-click="register()">
                        Register
                    </button>
                </li>
                <li>
                    <button class="button button-calm icon-left ion-arrow-right-c" ng-click="continue()">
                        Continue
                    </button>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>