<ion-view title="{{ appHeader }}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-more" ng-click="userPopover.show($event)"></button>
    </ion-nav-buttons>
    <ion-content>
        <img class="page-title-image" src="img/vendors/{{ order.vendor_id }}-vendor.jpg">
        <div class="page-title">
            Order {{ order.order_number }}
        </div>
        <div class="page-sub-title">
            {{ order.vendor_name }}
        </div>
        <div class="content-header">
            Status
        </div>
        <div class="content-text">
            {{ order.order_status_name }}
        </div>
        <div class="content-header" ng-show="order.order_status_id !== 4">
            Collection Details
        </div>
        <div class="content-text" ng-show="order.order_status_id !== 4">
            Collect at {{ getCollectionTime(order.order_reqd_for) }}
        </div>
        <div class="content-header">
            Subtotal
        </div>
        <div class="content-text">
            {{ order.order_total | currency:"£" }} ({{ order.item_count }} items)
        </div>
        <div class="content-header">
            Items
        </div>
        <div class="list list-no-borders">
            <a class="item item-thumbnail-left" ng-repeat="line in order.lines">
                <img class="product-line-image" src="img/products/{{ line.product_image_name }}.jpg" />
                <h3>{{ line.product_name }}</h3>
                <h4>{{ line.product_measure_name }}</h4>
                <h5>{{ line.product_unit_price | currency:"£" }}</h5>
                <div style="vertical-align: middle">
                    <select ng-change="updateOrderLine(line.id, orderLineQty)" ng-model="orderLineQty">
                        <option ng-repeat="qty in [1,2,3,4,5]" ng-selected="qty === line.product_qty">{{ qty }}</option>
                    </select>
                    <button class="button button-small button-outline button-assertive" ng-click="deleteOrderLine(line.id)">Remove</button>
                </div>
            </a>
        </div>
        <br>
    </ion-content>
    <ion-footer-bar class="drinkon-footer" ng-if="order.order_status_id === 4">
        <div class="row" style="text-align: center; display: inline-table;">
            <button class="button button-small button-calm" ui-sref="app.order.edit.type">
                Add More Items
            </button>
            &nbsp;
            <button class="button button-small button-positive" ui-sref="app.order.confirm.location" ng-if="order.lines.length > 0">
                Confirm Pickup Time
            </button>
        </div>
    </ion-footer-bar>
</ion-view>