<ion-view title="{{ appHeader }}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-more" ng-click="userPopover.show($event)"></button>
    </ion-nav-buttons>
    <ion-content>
        <img class="page-title-image" src="img/vendor-products.png">
        <div class="page-title">
            Choose a Product Type
        </div>
        <div class="list list-inset">
            <a class="item item-avatar" href="#" ng-repeat="productType in products.productTypes | orderBy:'name'" ui-sref="app.order.edit.product({typeId:productType.id})">
                <img src="img/product_types/{{ productType.image }}.jpg">
                <h2>{{ productType.name }}</h2>
            </a>
        </div>
    </ion-content>
</ion-view>