<ion-view title="{{ appHeader }}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-more" ng-click="userPopover.show($event)"></button>
    </ion-nav-buttons>
    <ion-content>
        <img class="page-title-image" src="img/welcome.png">
        <div class="page-title">
            {{ getGreeting() }}
        </div>
        <div class="page-sub-title">
            Good to see you again
        </div>
        <h4>{{ debugMessage }}</h4>
        <h5>Find me a venue</h5>
        <div class="drinkon-button-row">
            <button class="button button-calm icon-left ion-map" ui-sref="app.vendor.locationSearch">Search by Location</button>
        </div>

    </ion-content>
</ion-view>
