<ion-view title="<span class='title-text'>iBartender</span><img src='img/Bartender256.png' class='title_img' />">
    <ion-content padding="true">
        <h3>Hi Steve</h3>
        <h4>Your current orders</h4>
        <div class="list list-inset">
            <a class="item" href="#" ng-repeat="order in orders" ui-sref="app.order.summary({orderId:order.id})">
                <span class="item-note">{{ order.order_status_name }}</span>
                {{ order.order_number }}
            </a>
        </div>
    </ion-content>
</ion-view>
