<ion-view title="<span class='title-text'>iBartender</span><img src='img/bartender256.png' class='title_img' />">
    <ion-content padding="true">
        <h4>Where are you going tonight?</h4>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Location" ng-model="searchText">
            </label>
        </div>
        <div class="list list-inset">
            <a class="item" href="#" ng-repeat="location in locations | orderBy:'name' | filter:searchText" ui-sref="app.find.vendorsearch({locationId:location.id})">
                {{ location.name }}
            </a>
        </div>
    </ion-content>
</ion-view>
