<ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-stable">

    <ion-tab icon="ion-home" ui-sref="app.home">
        <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-earth" ui-sref="app.find">
        <ion-nav-view name="find"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-card" ui-sref="app.order">
        <ion-nav-view name="orders"></ion-nav-view>
    </ion-tab>
</ion-tabs>
