<ion-view title="<span class='title-text'>iBartender</span><img src='img/bartender256.png' class='title_img' />">
    <ion-content padding="true">
        <h4 class="text-center page-title">Order {{ order.order_number }}</h4>
        <div class="row">
            <div class="field-label">
                Vendor
            </div>
        </div>
        <div class="row padding-bottom">
            {{ vendor.name }}
        </div>
        <div class="row">
            <div class="field-label">
                Status
            </div>
        </div>
        <div class="row padding-bottom">
            {{ order.order_status_name }}
        </div>
        <div class="row">
            <div class="field-label">
                Items
            </div>
        </div>
        <div class="row padding-bottom">
            <table>
                <thead>
                    <th>Qty</th>
                    <th>Product</th>
                    <th>Measure</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    <tr ng-repeat="line in order.lines">
                        <td>{{ line.product_qty }}</td>
                        <td>{{ line.product_name }}</td>
                        <td>{{ line.product_measure_name }}</td>
                        <td>{{ line.product_unit_price | currency:"£" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <button class="button button-small" ui-sref="app.order.edit.type">
                Add Items to Order
            </button>
        </div>
    </ion-content>
</ion-view>