<ion-view title="{{ venue.name }}">
    <ion-content padding="true">
        <div class="list card no-border">
            <div class="item item-body no-border">
                <img class="full-image" src="img/{{ venue.image }}">
                <p>
                    {{ venue.description }}
                </p>
                <button class="button button-block button-positive" ui-sref="app.order.new({venueId:venue.id})">Make an order</button>
            </div>
             <div class="item tabs tabs-secondary tabs-icon-top no-border">
                <a class="tab-item pad-5-bottom" href="#">
                    <i class="icon ion-chatbubbles"></i>
                    Reviews
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-map"></i>
                    View Location
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-clipboard"></i>
                    Past Visits
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
