/* Empty. Add your own CSS if you like */
i {
    margin-right: 5px;
}

i.icon-large {
   font-size: 30px;
}

.no-border {
    border-width: 0px;
}

.no-top-margin {
    margin-top: 0px;
}

.title_img {
    height: 30px;
    vertical-align: middle;
    margin: 0px;
    position: relative;
    top: -5px;
}

.title-text-pre {
    font-size: 1.3em;
    margin-right: 3px;
    font-weight: 500;
}

.title-text-order {
    font-size: 1.3em;
    font-weight: 300;
    margin-right: 8px;
}

.content-text-pre {
    font-size: 1.2em;
    margin-right: 2px;
    font-weight: 500;
}

.content-text-order {
    font-size: 1.2em;
    font-weight: 300;
}

p.content {
    margin: 5px 30px 20px 30px;
}

.field-label {
    font-weight: 600;
}

.drinkon-subtitle-left {
    display: inherit;
    margin: 0px 5px;
    width: 50px;
    float: left;
}

.drinkon-subtitle-right {
    display: inherit;
    width: 50px;
    float: right;
}

.drinkon-subtitle {
    position: absolute;
    top : 0;
    margin: 11px 0px;
    left: 50px;
    right: 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.drinkon-footer {
    padding: 0px;
    margin: 0px;
}

.drinkon-button-row {
    text-align: center;
}

.drinkon-button-row > button {
    margin: 0px 2px;
    font-size: 14px;
}

.product-line-image {
    width: 40px;
}

.item-small-text {
    font-size: 14px;
}

.item-order-status {
    text-align: center;
    font-weight: normal;
}

.vertical-button-list {
    text-align: center;
}

.vertical-button-list > li {
    margin-top: 15px;
}

.vertical-button-list > li > button {
    width: 150px;
}

.warning-message {
    text-align: center;
    margin: 10px;
    font-size: 1.1em;
    font-weight: 600;
    color: red;
}

.select-stable {
    background-color: #9fa8da;
}

span.fixed-width-icon {
    display: inline-block;
    text-align: center;
    width: 11px;
}

span.item-text-margin-left {
    margin-left: 5px;
}

p.no-top-margin {
    margin-top: 0px;
}

.page-title {
    position: absolute;
    color: white;
    top: 15px;
    left: 10px;
    font-weight: 600;
    font-size: 1.4em;
}

.page-title-image {
    height: 160px;
    width: 100%;
    margin-bottom: 10px;
}

.page-sub-title {
     position: absolute;
     color: white;
     top: 40px;
     left: 10px;
     font-weight: 500;
     font-size: 1.2em;
 }

.content-header {
    margin-left: 20px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.1em;
}

.content-text {
    margin-left: 20px;
    margin-bottom: 10px;
    opacity: 0.87;
}

.list-no-borders a {
    margin: 0px;
    border: 0;
}

a.item-avatar h2 {
    position: relative;
    top: 10px;
}